unused/

# Skip figures that include all runs for `test/vary_kvals`
test/vary_kvals/output/**/*run*.png

# Skip optimisation logs for `test/vary_kvals`
test/vary_kvals/output/**/optim_progress.txt

# HPC files
*.slurm
slurm*

# Bash scripts
*.sh

# VS Code
.vscode/